@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .button{
        @apply bg-white rounded-lg p-2 text-lg font-semibold hover:opacity-90
    }
    .form{
        @apply max-w-[280px] sm:max-w-xs mx-auto p-6 w-full flex flex-col gap-2 rounded-lg bg-bg-default dark:bg-bg-dark
    }
    .input{
        @apply w-full px-1 py-2 border-1
    }
    .label{
        @apply flex flex-row justify-between mb-2 flex-wrap dark:text-primary-dark
    }
    .error__message {
        @apply text-red-500
    }
    .form__title{
        @apply text-center font-bold text-xl dark:text-primary-dark
    }
}